.herocontent,
.scrollbutton {
  color: var(--background-color-1);
}

.herocontainer {
  background-image: url("../../../public/assests/images/HomeHeros.svg");
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
}

.herocontent {
  height: 100%;
  width: 100%;
  align-items: flex-start;
  padding-top: 3rem;
}

.herocontent > div > h1 {
  font-size: 1.5rem;
}

.herocontent > div > p {
  font-size: 1.6rem;
}

.herobuttons {
  flex-direction: column;
}

.scrollbutton {
  align-self: flex-end;
}

.scrollbutton p {
  font-size: 0.8rem;
}

.buttons button {
  color: white;
  padding: 0.6rem 1.5rem;
}

.buttons button:hover {
  background-color: var(--background-color-1);
  color: black;
}

.cardone {
  background-color: rgb(106, 126, 216);
  padding: 1rem;
}

.cardtwo {
  background-color: rgb(255, 175, 119);
  padding: 1rem;
}

.cardthree {
  background-color: rgb(254, 206, 50);
  padding: 1rem;
}

.cardfour {
  background-color: rgb(186, 128, 230);
  padding: 1rem;
}

.helptextcard {
  align-items: center;
  padding-block-start: 3rem;
}

.helptextcard h5 {
  border-top: 3px solid rgb(255, 175, 119);
  font-weight: 100;
  font-size: 1.2rem;
  padding: 0.3rem;
}

.helptextcard p {
  font-size: 1.5rem;
}

.impactcontainer {
  background-color: yellow;
}

.impactcontainer > h4 {
  margin-bottom: 3rem;
}

.impactcontainer > div:first-child {
  align-self: baseline;
}

.impactslider > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.impactslider p {
  max-width: 40ch;
}

.navigations {
  position: absolute;
  top: 0;
  right: 40px;
  z-index: 100;
}

.donatebtn {
  background-color: rgb(146, 171, 252);
  color: white;
}

.navigations {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 20%;
  z-index: 100;
}

.navigations > img:last-child {
  background-color: white;
  border-radius: 50%;
  padding: 0.2rem;
}



@media (min-width: 768px) {
  .helpsection {
    grid-template-columns: 0.8fr 0.4fr;
  }

  .herocontent > div > h1 {
    font-size: 2rem;
  }

  .herocontent > div > p {
    font-size: 2.1rem;
  }

  .helptextcard {
    align-items: flex-start;
    padding-inline-start: 3rem;
  }

  .herobuttons {
    flex-direction: row;
    justify-content: space-between;
  }

  .buttons button {
    color: white;
    padding: 0 3rem !important;
  }

  .scrollbutton p {
    font-size: 1rem;
  }
}
