.sectioncontainer {
  padding: 1rem;
}

.button {
  border-radius: 5rem;
  padding: 0.9rem 3.5rem;
  background: transparent;
  border: 0.1rem solid var(--primary-color-1);
}

.background img{
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100dvh;
  z-index: -10;
}

.hero {
  width: 100%;
}

.content {
  position: absolute;
  top: 400px;
  left: 10%;
  color: white;
  background: blue;
}

.card {
  border-radius: 0.5rem;
  max-width: 40ch;
  padding: 3rem 1rem;
}

.card > div {
 text-align: center;
 font-family: 'Inter' sans-serif;
}

.card > div > button {
  color: #3E030E;
  border: 1px solid #3E030E;
  cursor: pointer;
}

@media (min-width: 768px){
  .sectioncontainer{
    padding: 2rem 3rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  }
}