.cardone, 
.cardtwo,
.cardthree,
.cardfour,
.cardfive {
  padding: 2.7rem 2rem;
  border-radius: 0.2rem !important;
  border: 1px solid #4B514F;
}



.cardone {
  background-color: rgb(106, 126, 216);
}

.cardtwo {
  background-color: rgb(250, 235, 215);
}

.cardthree {
  background-color: rgb(245, 245, 220);
}

.cardfour {
  background-color: rgb(103, 92, 247);
}

.cardfive {
  background-color: white;
  color: black;
}

@media (min-width: )