.cardone, 
.cardtwo,
.cardthree,
.cardfour,
.cardfive {
  padding: 2.7rem 2rem;
  border-radius: 0.2rem !important;
  border: 1px solid #4B514F;
}



.cardone {
  background-color: #FECE32;
}

.cardtwo {
  background-color: #FFAF77
}

.cardthree {
  background-color: #BA80E6;
}

.cardfour {
  background-color: #92ABFC;
}

.cardfive {
  background-color: white;
  color: black;
}

@media (min-width: )